doctype
html(lang="en")
  head
    title API Basejump: Timestamp microservice
    meta( charset='utf-8' )
    meta( http-equiv='X-UA-Compatible', content='IE=edge' )
    meta( name='viewport', content='width=device-width, initial-scale=1.0' )
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet")
 
body
  .container
    h3(style="padding-top:20px; padding-bottom:20px;") FCC Basejump: Timestamp microservice
    blockquote User Stories:
      ol
       li(style="padding-top: 10px;") I can pass a string as a parameter, and it will check to see whether that string contains either a unix timestamp or a natural language date (example: January 1, 2016)
       li(style="padding-top: 10px;") If it does, it returns both the Unix timestamp and the natural language form of that date.
       li(style="padding-top: 10px;") If it does not contain a date or Unix timestamp, it returns null for those properties.
    h3(style="apdding-bottom: 10px;") Example Usage
    pre https://timestamp-ms.herokuapp.com/December%2015,%202015
    pre https://timestamp-ms.herokuapp.com/Dec%2015,%202015
    pre https://timestamp-ms.herokuapp.com/1450137600
    h3(style="apdding-bottom: 10px;") Example output
    pre { "unix": 1450137600, "natural": "December 15, 2015" }
      